@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Oswald:wght@300;500;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,600;1,700&family=Raleway:wght@300;500;700&family=Roboto:wght@300;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .link {
    @apply font-poppins text-lg
  }

  .link.router-link-exact-active {
    @apply underline decoration-secoundary
    decoration-2 underline-offset-4
  }

  .btn {
    @apply py-2 px-4 rounded 
    text-primary font-raleway 
    active:translate-y-1 duration-150 
    text-sm font-bold cursor-pointer
  }

  .disabled-btn {
    @apply bg-gray-300
    text-gray-500 
    cursor-not-allowed
  }

  .blue-btn {
    @apply btn bg-highlight
  }

  .orange-btn {
    @apply btn bg-secoundary
  }

  .footer-items {
    @apply font-montserrat font-bold 
    text-title text-xl md:text-2xl
    underline decoration-4 decoration-secoundary
    underline-offset-4
  }

  .footer-links {
    @apply font-poppins text-sm text-title
  }

  .form-inputs {
    @apply block w-full p-2 border rounded
    border-gray-300 focus:outline-none 
    focus:ring-1 focus:ring-highlight
    focus:border-transparent text-title
  }

  .form-textarea {
    @apply h-250 form-inputs
    text-title
  }

  .form-option {
    @apply py-2 px-4 block 
    text-title
  }
}

@layer utilities {

  html {
    height: 100%;
    -webkit-tap-hightlight-color: transparent;
  }

  *{
    word-break: break-word; 
   }

   *::-webkit-scrollbar {
     display: none
   }

   .material-symbols-outlined {
    font-size: 2rem !important;
   }

   .fas ,
   .fab {
    font-size: 2rem !important;
   }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  
@media (-wbkit-device-pixel-ratio: 1.5) {
  :root {
    zoom: .9;
  }
}
}
